:root {
    --branding-color: #6c63ff;
    --secondary-color: #f9f7fe;
    --heading-font-family: "Playfair Display", serif;
    --default-font-family: "Poppins", sans-serif;
}

body {
    font-family: var(--default-font-family);
    text-align: center;

}

.hero{
    background-color: var(--secondary-color);
    text-align: center;
    padding: 160px, 20px;
}

h1 {
    font-size: 96px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    display: block;
    margin: 0;
}

.hero p {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    color: #272142;
}

.hero h2 {
    font-family: var(--heading-font-family);
    font-weight: normal;
    line-height: 2;
    font-size: 24px;
}

h1, h2, h3, h4, h5, h6 {
    color: black;
    font-family: var(--heading-font-family);
    font-weight: bold;
}


.btn-branding {
    background: var(--branding-color);
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}

.featured-message{
    padding: 40px;
}

.about-me {
    margin-top: 60px;
    margin-left: 40px;
}

.img-fluid{
    border-radius: 5px;
    max-height: 60%;
    max-width: 100%;
}

.about-content {
    text-align: center;
    padding: 100px, 20px;
    margin-top: 60px;
}

.project-container {
    text-align: center;
    padding: 160px, 20px;
}

.card {
    margin: 0px;
    margin: auto;
    height: 350px;
    width: auto;
}

.works-title {
    font-size: 60px;
}

@media (max-width: 900px) {
    body {
        text-align: center;
    }

    h1 {
        font-size: 60px;
    }

    .project-description {
        width: 100%;
    }

    .card {
        margin-bottom: 20px;
    }

    .works-title {
        font-size: 30px;
    }

}